server:
    port: 8761

spring:
    application:
        name: zaplink-service-registry

eureka:
    client:
        register-with-eureka: false
        fetch-registry: false
    server:
        enable-self-preservation: false # just for developments
