apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  labels:
    app: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: apache/kafka:4.1.1
          imagePullPolicy: Always
          ports:
            - containerPort: 9092
            - containerPort: 9093
            - containerPort: 9094
          env:

            # ==== KRaft mode ====
            - name: KAFKA_PROCESS_ROLES
              value: "broker,controller"

            - name: KAFKA_NODE_ID
              value: "1"

            - name: KAFKA_CLUSTER_ID
              value: "tc0fW31JSOSCi7heWZQBSQ"

            # ==== Listener Setup ====
            - name: KAFKA_LISTENERS
              value: "INTERNAL://:9092,EXTERNAL://:9094,CONTROLLER://:9093"

            - name: KAFKA_ADVERTISED_LISTENERS
              value: "INTERNAL://kafka:9092,EXTERNAL://kafka:30092,CONTROLLER://kafka:9093"

            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"

            - name: KAFKA_CONTROLLER_LISTENER_NAMES
              value: "CONTROLLER"

            - name: KAFKA_INTER_BROKER_LISTENER_NAME
              value: "INTERNAL"

            - name: KAFKA_CONTROLLER_QUORUM_VOTERS
              value: "1@kafka:9093"

            # ==== Additional KRaft Settings ====
            - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: "1"

            - name: KAFKA_OFFSETS_TOPIC_NUM_PARTITIONS
              value: "1"

            - name: KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
              value: "1"

            - name: KAFKA_TRANSACTION_STATE_LOG_MIN_ISR
              value: "1"

            - name: KAFKA_LOG_DIRS
              value: "/var/lib/kafka/data"

          volumeMounts:
            - name: data
              mountPath: /var/lib/kafka/data

      volumes:
        - name: data
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: kafka
spec:
  selector:
    app: kafka
  type: NodePort
  ports:
    - name: internal
      port: 9092
      targetPort: 9092

    - name: external
      port: 9094
      targetPort: 9094
      nodePort: 30092

    - name: controller
      port: 9093
      targetPort: 9093
