apiVersion: v1
kind: ConfigMap
metadata:
  name: zaplink-config
  labels:
    app: zaplink
data:
  # Redis Configuration
  redis.host: "redis"
  redis.port: "6379"
  
  # Kafka Configuration
  kafka.bootstrap.servers: "kafka:30092"
  kafka.internal.servers: "kafka:9092"
  kafka.controller.servers: "kafka:9093"
  
  # Kafka Connection Properties
  spring.kafka.bootstrap-servers: "kafka:9092"
  
  # Redis Connection Properties
  spring.data.redis.host: "redis"
  spring.data.redis.port: "6379"

  # JWT Configuration
  jwt.secret: "myZaplinkSecretKeyForJWTTokenGenerationAndValidation"
  jwt.expiration: "1800"

  # DataSource Configuration
  spring.datasource.username: "postgres"
  spring.datasource.password: "12345"