apiVersion: v1
kind: ConfigMap
metadata:
  name: zaplink-config
  labels:
    app: zaplink
data:
  # Redis Configuration
  redis.host: "redis"
  redis.port: "6379"
  
  # Kafka Configuration
  kafka.bootstrap.servers: "kafka:30092"
  kafka.internal.servers: "kafka:9092"
  kafka.controller.servers: "kafka:9093"
  
  # Kafka Connection Properties
  spring.kafka.bootstrap-servers: "kafka:9092"
  spring.kafka.consumer.group-id: "zaplink-group-v2"
  spring.kafka.consumer.auto-offset-reset: "earliest"
  spring.kafka.consumer.key-deserializer: "org.apache.kafka.common.serialization.StringDeserializer"
  spring.kafka.consumer.value-deserializer: "org.springframework.kafka.support.serializer.JsonDeserializer"
  spring.kafka.consumer.properties.spring.json.trusted.packages: "*"
  spring.kafka.consumer.properties.spring.json.use.type.headers: "false"
  spring.kafka.consumer.properties.spring.json.value.default.type: "io.zaplink.zaplink_consumer_service.dto.request.ShortUrlConsumerRequest"
  spring.kafka.producer.key-serializer: "org.apache.kafka.common.serialization.StringSerializer"
  spring.kafka.producer.value-serializer: "org.springframework.kafka.support.serializer.JsonSerializer"
  spring.kafka.producer.properties.spring.json.add.type.headers: "false"
  
  # Redis Connection Properties
  spring.data.redis.host: "redis"
  spring.data.redis.port: "6379"
  spring.data.redis.timeout: "2000ms"
  spring.data.redis.lettuce.pool.max-active: "8"
  spring.data.redis.lettuce.pool.max-idle: "8"
  spring.data.redis.lettuce.pool.min-idle: "0"
