server:
  port: 8084
  servlet:
    context-path: /v1/auth

spring:
  application:
    name: zaplink-auth-service

# DataSource config
  datasource:
    url: jdbc:postgresql://localhost:5432/
    username: postgres
    password: rgbXYZ@09182
# JPA config
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
