server:
    port: 8084

spring:
    application:
        name: zaplink-auth-service
    profiles:
        active: ${SPRING_PROFILES_ACTIVE:local}
    config:
        import: application-api.yml
    main:
        allow-bean-definition-overriding: true

    # Kafka config
    kafka:
        # bootstrap-servers: localhost:9092
        bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
            acks: all
            retries: 5
    # DataSource config
    datasource:
        url: jdbc:postgresql://localhost:5432/zaplink_auth
        username: postgres
        password: 12345
    # JPA config
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect

# JWT Configuration
jwt:
    secret: ${JWT_SECRET:myZaplinkSecretKeyForJWTTokenGenerationAndValidation}
    expiration: ${JWT_EXPIRATION:1800} # 30 minutes in seconds
