server:
    port: 8084

spring:
    application:
        name: zaplink-auth-service
    main:
        allow-bean-definition-overriding: true

    # Kafka config
    kafka:
        bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:kafka:9092}
        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
            acks: all
            retries: 5
    # DataSource config
    datasource:
        url: jdbc:postgresql://host.docker.internal:5432/zaplink_auth
        username: ${DB_USERNAME:postgres}
        password: ${DB_PASSWORD:12345}
    # JPA config
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect

# JWT Configuration
jwt:
    secret: ${JWT_SECRET:myZaplinkSecretKeyForJWTTokenGenerationAndValidation}
    expiration: ${JWT_EXPIRATION:1800} # 30 minutes in seconds

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      access: unrestricted
    health:
      probes:
        enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
