spring:
  application:
    name: zaplink-producer-service
  
   # Redis configs
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:redis}
      port: ${SPRING_DATA_REDIS_PORT:6379}

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 5
      properties:
        spring.json.add.type.headers: false

server:
  port: 8081

eureka:
  client:
    serviceUrl:
      defaultZone: http://zaplink-service-registry:8761/eureka/
