server:
  port: 8090

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  config:
    import: application-api.yml
  application:
    name: api-gateway-service

# JWT Configuration
jwt:
  secret: ${JWT_SECRET:myZaplinkSecretKeyForJWTTokenGenerationAndValidation}
  expiration: ${JWT_EXPIRATION:1800} # 30 minutes in seconds
