server:
    port: 8083

spring:
    application:
        name: zaplink-manager-service
    # Redis config
    redis:
        data:
            host: localhost
            port: 6379

eureka:
    client:
        serviceUrl:
            # defaultZone: http://zaplink-service-registry:8761/eureka/
            defaultZone: http://localhost:8761/eureka/
