server:
    port: 8083

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  config:
    import: application-api.yml
  application:
    name: zaplink-manager-service
  # Kafka config
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 5
    properties:
      "[spring.json.add.type.headers]": "true"
  # Redis config
  data:
    redis:
      host: localhost
      port: 6379
  # Database config
  datasource:
    url: jdbc:postgresql://localhost:5432/zaplink_core
    username: postgres
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect