spring:
  application:
    name: zaplink-manager-service

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}
  
  # DataSource config
  datasource:
      url: jdbc:postgresql://host.docker.internal:5432/zaplink_core
      username: ${DB_USERNAME:postgres}
      password: ${DB_PASSWORD:12345}
  # JPA config
  jpa:
      hibernate:
          ddl-auto: update
      properties:
          hibernate:
              dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      access: unrestricted
    health:
      probes:
        enabled: true
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  prometheus:
    metrics:
      export:
          enabled: true