spring:
  application:
    name: zaplink-manager-service
  servlet:
    context-path: /v1

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}
  
  # DataSource config
    datasource:
        url: jdbc:postgresql://host.docker.internal:5432/zaplink
        username: ${DB_USERNAME:postgres}
        password: ${DB_PASSWORD:12345}
    # JPA config
    jpa:
        hibernate:
            ddl-auto: update
            show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true

server:
  port: 8083