server:
    port: 8083
    servlet:
        context-path: /v1

spring:
    application:
        name: zaplink-manager-service
    # Redis config
    data:
        redis:
            host: ${SPRING_DATA_REDIS_HOST:redis}
            port: ${SPRING_DATA_REDIS_PORT:6379}